# IDE
.vscode/
.idea/
*.swp
*.swo
node_modules/
frontend/public/menu_images/

# Global Config
config/.env

# Worklogs
worklog/

# Backend
backend/.gradle/
backend/build/
backend/bin/
backend/out/
backend/.settings/
backend/.classpath
backend/.project

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vscode/

# Logs
backend/src/main/resources/logs/
*.log

# Root Build Artifacts
.gradle/
build/
bin/
out/
.settings/
.classpath
.project
package-lock.json
node_modules/